@import ("https://fonts.googleapis.com/css?family=Raleway:100");

body {
  background: Gray;
  color: WhiteSmoke;
  font-size: 62.5%;
  margin: 50px;
  padding: 0px;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  text-align: left;
  line-height: 31px;
  width: auto;
}

/* Font-size 72, 36, 24, 18, 14px */
h1 {
  text-align: center;
  font-size: 7.2em;
  font-weight: 200;
}

/* Filter Options Template*/
#filterOptionsTemplate {
  overflow: hidden;
}

#filters {
  position: relative;
  display: inline-block;
  font-size: 1.8em;
  margin: 10px;
}

#pageNavigation {
  position: relative;
  display: inline-block;
  font-size: 3.6em;
}

button {
  background-color: none;
  border: none;
  border-radius: 8px;
  font-size: 1.8em;
}

button:hover{
  text-decoration: none;
  background-color: black;
  color: WhiteSmoke;
  cursor: pointer;
}

a {
  color: WhiteSmoke;
  text-decoration: none;
  cursor: pointer;
}

a:hover{
  color: Black;
}

/* Quote Container Template*/
.quote-container {
  background-color: Black;
  width: 350px;
  height: 500px;
  border-radius: 8px;
  display: inline;
  float: left;
  padding: 10px;
  margin: 10px;
}


h3 {
  font-size: 3.6em;
  font-weight: 200;
}

dt, dd {
  font-size: 1.8em;
  font-weight: 100;
  margin-left: auto;
  margin-right: auto;
}




