<!DOCTYPE html>

<head>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <script src="./js/backbone.paginator.min.js"></script>
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
  <h1>Quoter</h1>
  <div id="quotes">
    <script id="filterOptionsTemplate" type="text/template">

    <button id="allQuotes">All</button>
    <button id="gameQuotes">Games</button>
    <button id="movieQuotes">Movies</button>
    <button id="firstPage">1</button>
    <button id="secondPage">2</button>
    <button id="thirdPage">3</button>
    <!-- Pagination here -->
    <br/>
    </script>

  </div>
  <script id="quoteTemplate" type="text/template">
  <h3><%= source %></h3>
    <dl>
        <dt>Theme:</dt><dd><%= theme %></dd><br/>
        <dt>Context:</dt><dd><%= context %></dd><br/>
        <dt>Quote:</dt><dd><%= quote %></dd><br/>
    </dl>
  </script>

  <script src="js/app.js"></script>

</body>
</html>

<!-- In quotes.html you will need to build a simple backbone.js view to list given quotes. -->

<!-- Please provide the following functionality: -->

<!-- Fetch quotes from source quotes.json and display available information in the list-like structure (table/list) -->
<!-- Provide client-side pagination (up to 15 quotes per page) -->
<!-- Optionally: Provide way to filter between game and movie quotes -->
<!-- Optionally: Provide client-side search filter by the quote text -->

